{% extends "layout.html" %}

{% block content %}

<div class="about-container font-standard">
    <div style="text-align: left;">
        <div style="font-size: larger; font-weight: bolder;">
            About our work: 
        </div>
        We are Columbia Engineering students, and this is our ELEN E6883 (Introduction to Blockchain Technology) course project.
        We developed a DAPP to establish a crypto art market for sticker transactions.
        In our DAPP, sticker creators can sell their works while far-sighted collectors can mine and buy original works certified on the blockchain.
        This DAPP is deployed on test-network2.0 Huygens of ComputeCoin Network (CCN) which is the next generation infrastructure that supports common Web3.0 and Metaverse services. <br>
        <br>
        <div style="font-size: larger; font-weight: bolder;">
            Our group members: 
        </div>
        
        Chongzhi Xu - email: cx2273@columbia.edu<br>
        Hanwei Tang - email: ht2568@columbia.edu<br>
        Yi Chen - email: yc4029@columbia.edu<br>
        Zhihao Sun - email: zs2531@columbia.edu<br>
        Shihao Ban - email: sb4535@columbia.edu<br>
        <br>
        <div style="font-size: larger; font-weight: bolder;">
            Reference: 
        </div>

        All images come from: <a style="text-decoration: underline" href="https://www.flaticon.com/">https://www.flaticon.com/</a><br>
        ComputeCoin Official DOCs: <a style="text-decoration: underline" href="https://computecoin-network.gitbook.io/computecoin/computecoin/about-computecoin-ccn">https://computecoin-network.gitbook.io/computecoin/computecoin/about-computecoin-ccn</a><br>
    </div>
    <br>
    <a href="/">
        <button type="button" class="btn btn-danger submit-button">Back to MainPage to Sign in</button>
    </a>
</div>

{% endblock %}

