<!-- Reference : https://www.cssscript.com/multilevel-accordion-menu-with-plain-html-css/ -->
<!doctype html>
<style>
  .group-list a{font-size: 17px}
</style>
<html lang="en">
  <head>
    <title>Sticker Marketing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/2990/2990669.png">
    <!-- fraimwork - css include -->
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <!-- icon font - css include -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fontawesome.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stroke-gap-icons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='icofont.css')}}">
    <!-- animation - css include -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='animate.css')}}">
    <!-- carousel - css include -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slick.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='slick-theme.css')}}">
    <!-- popup - css include -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='magnific-popup.css')}}">
    <!-- jquery-ui - css include -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jquery-ui.css')}}">
    <!-- select option - css include -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='nice-select.css')}}">
    <!-- custom - css include -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand font-standard" style="font-weight: bolder;" href="/">Sticker MarketPlace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active font-standard">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown font-standard">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Referrence
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://computecoin-network.gitbook.io/computecoin/computecoin/about-computecoin-ccn">CCN DOCs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://www.youtube.com/watch?v=FfQWVQy5kzg&t=4s">Contract</a>
            <a class="dropdown-item" href="https://www.youtube.com/watch?v=YVZS5c50roo&t=6s">Ale Wallet</a>
            </div>
          </li>

          <li class="nav-item font-standard">
            <a class="nav-link" href="/about">About us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container" >   
          {% block content %}
          {% endblock %}
    </div>
  
  </body>
</html>

