<!doctype html>
<html lang="en">

<head>
  <!--
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <!-- fraimwork - css include -->
    <link rel="stylesheet"  href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet"  href="{{url_for('static', filename='fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stroke-gap-icons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='icofont.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='animate.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='slick-theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">



</head>

<body>

    <!-- body_wrap - start -->
    <div class="body_wrap">

        <!-- backtotop - start -->
        <div class="backtotop">
            <a href="#" class="scroll">
                <i class="far fa-arrow-up"></i>
            </a>
        </div>
        <!-- backtotop - end -->





        <!-- main body - start
        ================================================== -->
        <main>



            <!-- product_section - start
            ================================================== -->
            <section class="product_section section_space">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <aside class="sidebar_section p-0 mt-0">
                                <div class="sb_widget sb_category">
                                    <h3 class="sb_widget_title">Categories</h3>
                                    <ul class="sb_category_list ul_li_block">
                                        <li>
                                            <a href="#!">Animal <span></span></a>
                                        </li>
                                        <li>
                                            <a href="#!">Pet <span></span></a>
                                        </li>
                                        <li>
                                            <a href="#!">Home <span></span></a>
                                        </li>

                                            <a href="#!"><span>All Categories</span></a>
                                        </li>
                                    </ul>
                                </div>


                            </aside>
                        </div>

                        <div class="col-lg-9">


                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="home" role="tabpanel">
                                    <div class="shop-product-area shop-product-area-col">
                                        <div id = "item_box" class="product-area shop-grid-product-area clearfix">


                                        </div>
                                    </div>

                                    <div class="pagination_wrap">
                                        <ul class="pagination_nav">
                                            <li class="active"><a href="#!">01</a></li>
                                            <li><a href="#!">02</a></li>
                                            <li><a href="#!">03</a></li>

                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- product_section - end
            ================================================== -->



        </main>

    </div>
    <!-- body_wrap - end -->

    <!-- fraimwork - jquery include -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-plugins-collection.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
    <script>
        let items = {{items|tojson}}
        console.log(items)
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'shop_grid.js') }}"></script>
    
</body>
</html>  
