#success-notification {
    background-color: LightPink;
    text-align: center;
    font-size: 14px;
}

.app-container{
    width:300px;
    height:auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    /* background-color: white;
    opacity: 0.95; */
    text-align: center;
}

.when_hover {
    cursor: pointer;
    text-decoration: underline;
    color: #f02757;
}

.font-standard{
    font-family: Verdana, Helvetica, sans-serif;
}
